:root {
    --primary: #9c27b0;
    --darkPrimary: #89119d;
    --secondary: #ffce00;
    --darkSecondary: rgb(233, 287, 2);
    --white: #fff;
    --black: #000;
    --mainFont: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Global */

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    /* source base */
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    /* to center */
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var();
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

img {
    width: 100%;
}

/* Header */

.header {
    display: flex;
    /* To centralize horizontally */
    justify-content: center;
}

.header__logo {
    /* Remember, the margin up and down is the first value and the margin to the left and right is the second value. */
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--mainFont);
    text-align: center;
    font-size: 2.2rem;
}

/* nav */

.nav {
    background-color: var(--darkPrimary);
    /* Remember, the padding up and down is the first value and the padding to the left and right is the second value. */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* new way of separation */
    /* gap: 2rem; */

}

.nav_link {
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 3rem;
    margin-right: 2rem;
}

.nav_link:first:last-of-type {
    margin-right: 0;
}

.nav_link--active, .nav_link:hover {
    color: var(--secondary);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Product */

.product {
    background-color: var(--darkPrimary);
    padding: 1rem;
    width: 100%;
}

.product__name {
    font-size: 4rem;
}

.product__price {
    font-size: 2.8rem;
    color: var(--secondary);
}

.product__name, .product__price {
    font-family: var(--mainFont);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Graphics */

.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.graphic--shirt {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.graphic--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .graphic--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* About */
.about {
    display: grid;
    gap: 2rem;
}

.about__image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.about__text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}


@media (min-width: 768px) {
    .about {
        display: grid;
    }

    .about__image {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .about__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

/* Blocks */
.blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}

.block {
    text-align: center;
}

.block__tittle {
    margin: 0;
}

/* Page Product */

.shirt {
    padding: 2rem;
}

@media (min-width: 768px) {
    .shirt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .form__field {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .form__field--amount {
        grid-row: 2 / 3;
    }

    .form__submit {
        grid-row: 3 / 4;
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.form__field {
    /* wide x type x color */
    border: 1rem solid var(--darkPrimary);
    background-color: transparent;
    color: var(--white);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    width: 100%;
}

.form__field::placeholder {
    color: var(--white);
}

.form__field option {
    color: var(--primary);
}

.form__submit {
    background-color: var(--secondary);
    border: none;
    font-size: 2rem;
    font-family: var(--mainFont);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.form__submit:hover {
    cursor: pointer;
    background-color: var(--darkSecondary);
}