:root{
    --primary: #9c27b0;
    --darkPrimary: #89119d;
    --secondary: #ffce00;
    --darkSecondary: rgb(233,287,2);
    --white: #fff;
    --black: #000;
    --mainFont: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global */

body{
background-color: var(--primary);
font-size: 1.6rem;
/* source base */
line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 120rem;
    /* to center */
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secondary);
    font-family: var();
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* Header */

.header{
    display: flex;
    /* To centralize horizontally */
    justify-content: center;
}

.header__logo{
    /* Remember, the margin up and down is the first value and the margin to the left and right is the second value. */
    margin: 3rem 0;
}

/* Footer */
.footer{
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    font-family: var(--mainFont);
    text-align: center;
    font-size: 2.2rem;
}
/* nav */

.nav{
background-color: var(--darkPrimary);
/* Remember, the padding up and down is the first value and the padding to the left and right is the second value. */
padding: 1rem 0;
display: flex;
justify-content: center;
/* new way of separation */
/* gap: 2rem; */

}

.nav_link{
font-family: var(--mainFont);
color: var(--white);
font-size: 3rem;
margin-right: 2rem;
}
.nav_link:first:last-of-type{
    margin-right: 0;
}
.nav_link--active, .nav_link:hover{
    color: var(--secondary);
}